#bf {
  padding: 0.5rem 1rem;
  background: #efefef;
  margin: 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

#bf-copyright {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 1rem;
  color: #333;
}
