#form-article {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3em 1em;
}

#form-article section {
  width: 100%;
}

#form-article h1,
#form-article p {
  margin: 0;
  padding: 0;
}

#form-article h1 {
  color: #111;
  font-size: 3em;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}

#form-article h1 small {
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

#form-article p {
  font-size: 0.8em;
}

form {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

form fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  border: none;
}

form label {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

form label span span,
#form-article p span {
  color: #a91f21;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form input[type="tel"] {
  border: 2px solid #ccc;
  border-radius: 0.1em;
  padding: 0.5em;
}

form input[type="submit"] {
  cursor: pointer;
  background-color: #fff;
  color: #a91f21;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 1em;
  border: 2px solid #a91f21;
  border-radius: 0.25em;
  transition: background-color 0.3s, color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #a91f21;
  color: #fff;
}

#form-article ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 1em;
  padding: 0;
}

#form-article ul a {
  color: #a91f21;
  transition: color 100ms ease-in-out;
}

#form-article ul a:hover {
  color: #800000;
}

.grid-span-2 {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 600px) {
  .grid-span-2 {
    grid-template-columns: 1fr;
  }
}
