#th {
  padding: 0.5rem 1rem;
  background: #efefef;
  border-bottom: 1px solid #ccc;
}

.th-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

#th-hide-menu {
  display: none;
  background: rgb(0 0 0 / 20%);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

#th-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 0;
  letter-spacing: 0.5px;
}

#th-nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #efefef;
  width: 80%;
  max-width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 100;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.th-nav-link {
  width: 100%;
  border-bottom: 1px solid #ccc;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

.th-nav-link:last-child {
  border-bottom: none;
}

.th-nav-link:hover {
  background: #ccc;
}

.th-nav-link.active {
  background: #ccc;
}

.th-nav-link a {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  color: #333;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.th-nav-link a:hover {
  color: #000;
}

.th-nav-link.active a {
  pointer-events: none;
  opacity: 0.5;
}

#th-show-menu {
  display: block;
  user-select: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 2rem;
}
