#th-nav ul li a {
  padding: 0.1em 0.5em;
  border-bottom: 3px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
}

#th-nav ul li a:hover {
  color: #a91f21;
  border-color: #a91f21;
}

#th-nav ul li a.active {
  color: #a91f21;
  border-color: #a91f21;
}

#close-menu,
#show-menu {
  display: none;
}
