@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.container {
  @apply w-full max-w-screen-xl mx-auto py-2 px-4;
}

.button {
  @apply inline-block cursor-pointer bg-white text-[#a91f21] no-underline text-center text-lg font-semibold py-2 px-4 border-2 border-[#a91f21] rounded transition duration-300 ease-in-out box-border hover:bg-[#a91f21] hover:text-white;
}

.input {
  @apply w-full py-2 px-4 border-2 border-gray-300 rounded transition duration-300 ease-in-out;
}
