.group-info-wrapper,
.group-list-wrapper {
  background: #efefef;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.link-container {
  display: flex;
  width: 100%;
  justify-content: end;
}

.m-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #07b;
  color: #fff;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.m-link:hover {
  background: #06a;
}

.m-link.input {
  background: #fff;
  color: #07b;
  border: 1px solid #07b;
  cursor: pointer;
}

.m-link.input:hover {
  background: #07b;
  color: #fff;
}

.m-subject-footer-link:hover {
  background: #06a;
}

.group-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group-list-item label {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.group-list-item-checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.group-list-item-checkbox:checked {
  background: #07b;
}

#cancel {
  background: #ff4949;
}

#cancel:hover {
  background: #ff2929;
}
