#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 67.08px);
}

#profile-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#profile-info h1 {
  color: #222;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}

#profile-info ul {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

#profile-info ul li strong {
  color: #222;
  font-size: 1.1em;
  font-weight: 700;
}

#profile-nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 2em 0;
}

#profile-nav ul li a {
  background-color: #fff;
  color: #a91f21;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 1em;
  border: 2px solid #a91f21;
  border-radius: 0.25em;
  transition: background-color 0.3s, color 0.3s;
}

#profile-nav ul li a:hover {
  background-color: #a91f21;
  color: #fff;
}
