@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: 239 239 239;
  --primary-color: 30 30 30;
  --shadow: rgb(0 0 0 / 20%);
}

@keyframes blur {
  to {
    box-shadow:
      0 5px 50px -5px var(--shadow),
      0 0 0 1px var(--shadow);
    background: rgb(var(--primary-color));
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

svg.icon {
  fill: currentColor;
  width: 1.25em;
  height: 1.25em;
}

body {
  background: rgb(var(--bg-color));
  font-family: sans-serif;
}

#header {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 80px;
}

.progress {
  animation: progress 10s linear backwards;
  -webkit-animation: progress 10s linear both;
}

.fade-out {
  animation: fade-out 500ms linear both;
  -webkit-animation: fade-out 500ms linear both;
}
