main {
  min-height: 75vh;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.5;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px; /* Espaciado entre elementos, opcional */
}

.group {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
}

.group a {
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3rem;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.5;
  transition: background-color 0.3s ease;
}

.group a:hover {
  background: #eee;
}

@media (min-width: 768px) {
  .group {
    width: calc((100% / 2) - 10px);
  }
}

@media (min-width: 992px) {
  .group {
    width: calc((100% / 3) - 10px);
  }
}

@media (min-width: 1200px) {
  .group {
    width: calc((100% / 4) - 10px);
  }
}
